@model KASCFlightLogging.Models.ViewModels.FlightLogEditViewModel

@{
    ViewData["Title"] = "Edit Flight Log";
}

<div class="container-fluid">
    <h1>Edit Flight Log</h1>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-0">Basic Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="FlightDate" class="control-label"></label>
                                    <input asp-for="FlightDate" class="form-control" type="date" />
                                    <span asp-validation-for="FlightDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="AircraftId" class="control-label"></label>
                                    <select asp-for="AircraftId" class="form-select" asp-items="ViewBag.AircraftId">
                                        <option value="">-- Select Aircraft --</option>
                                    </select>
                                    <span asp-validation-for="AircraftId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="PilotId" class="control-label"></label>
                                    <select asp-for="PilotId" class="form-select" asp-items="ViewBag.PilotId">
                                        <option value="">-- Select Pilot --</option>
                                    </select>
                                    <span asp-validation-for="PilotId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="TotalFlightTime" class="control-label"></label>
                                    <input asp-for="TotalFlightTime" class="form-control" type="time" step="1" />
                                    <span asp-validation-for="TotalFlightTime" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Values.Any())
                {
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="mb-0">Field Values</h5>
                        </div>
                        <div class="card-body">
                            @for (var i = 0; i < Model.Values.Count; i++)
                            {
                                <div class="form-group mb-3">
                                    <input type="hidden" asp-for="Values[i].Id" />
                                    <input type="hidden" asp-for="Values[i].FieldName" />
                                    <input type="hidden" asp-for="Values[i].FieldType" />
                                    <input type="hidden" asp-for="Values[i].Required" />

                                    <label class="control-label">@Model.Values[i].DisplayText</label>
                                    @switch (Model.Values[i].FieldType)
                                    {
                                        case FieldType.Number:
                                            <input asp-for="Values[i].Value" class="form-control" type="number" />
                                            break;
                                        case FieldType.Time:
                                            <input asp-for="Values[i].Value" class="form-control" type="time" />
                                            break;
                                        case FieldType.DateTime:
                                            <input asp-for="Values[i].Value" class="form-control" type="datetime-local" />
                                            break;
                                        default:
                                            <input asp-for="Values[i].Value" class="form-control" />
                                            break;
                                    }
                                    <span asp-validation-for="Values[i].Value" class="text-danger"></span>
                                </div>
                            }
                        </div>
                    </div>
                }

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Save Changes
                    </button>
                    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Back to Details
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}